doctype html
html
	head
		title Instagram Photos
		link(rel='stylesheet', href='/css/bootstrap.css.map')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		script(src='/js/bootstrap.min.js')
		script(src='http://api-maps.yandex.ru/2.1/?lang=ru_RU', type='text/javascript')
	body
		h1 Instagram photos
		p Hello!